.body{
  margin: 0;

}
.card{
  border:2px solid black;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: rgb(247, 155, 207);
  
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
